* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto";
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
table,
td,
th {
  border: solid 1px black;
  border-collapse: collapse;
  text-align: center;
}
.th1 {
  color: white;
  background: green;
}
.th2 {
  background: lightgreen;
}
.odd {
  background: lightgray;
}
.even {
  background: gray;
  color: white;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}
.sidebar {
  display: none;
}
.header {
  background-color: #3741fc;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}
.logo {
  align-self: center;
}
.logo p {
  font-weight: bolder;
  font-size: 2.5rem;
  color: white;
  margin-left: 10px;
}
.navbar {
  display: flex;
  justify-content: center;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 10%;
}
.nav-item a {
  color: white;
  text-wrap: nowrap;
  font-size: 1.6rem;
}
.nav-item {
  padding: 10px;
  display: inline-block;
}
.content {
  background: url(./images/IMG_20210125_132228.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: scroll;
}
.card1 > p
{
  font-size: 2.5rem;
  margin-bottom: 5px;
}
.smile {
  background-color: rgba(255, 0, 0, 0.3);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle();
  transform: rotate(90deg);
}
.smile > p {
  font-size: 2.5rem;
}
.card > table {
  font-size: 2rem;
}
.card2 th,
.card2 td {
  padding: 0 5px;
}
.shape {
  width: 200px;
  height: 200px;
  background-color: #2ff736;
  clip-path: polygon(50% 0, 20% 50%, 50% 100%, 80% 50%);
}
.card {
  background-color: rgb(255, 250, 240);
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  height: 200px;
  margin-top: 5px;
}
.card h2 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2rem;
}
.profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name {
  margin-top: 10px;
  font-weight: bold;
  font-size: 2.5rem;
}
.text {
  margin: 0 10px;
  height: 95%;
  overflow: scroll;
  font-size: 2rem;
}


@media (min-width: 768px) {
  .app {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto 1fr;
  }
  .header {
    grid-column: 1 / 3;
  }
  .sidebar {
    display: block;
    background-color: rgb(255, 137, 86);
    max-width: 300px;
    border-right: 2px solid white;
  }
  .sidebar p {
    font-size: 1.8rem;
    text-align: justify;
  }
  .nav-item {
    margin-right: 30px;
  }
  .content p,
  table {
    font-size: 2rem;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 5px;
  }
  .card1 > p {
    font-size: 1.5rem;
  }
  .card2 table {
    font-size: 1.5rem;
  }
}
