* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
ul {
  list-style: none;
}
table,
td,
th {
  border: solid 1px black;
  border-collapse: collapse;
  text-align: center;
}
.th1 {
  color: white;
  background: green;
}
.th2 {
  background: lightgreen;
}
.odd {
  background: lightgray;
}
.even {
  background: gray;
  color: white;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
}
.sidebar {
    display: none;
}
.header {
    background-color: #3741fc;
    display: flex;
    justify-content: center;
}
.navbar {
    background-color: #3495e5;
    display: flex;
    justify-content: center;

}
.navbar ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 10%;
}
.navbar a{
    color: red;
    text-wrap: nowrap;
}